@{
    ViewBag.Title = "Wech-Flix";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<p>We are a movie rental streaming service designed for you needs.<br />All your favorite movies in one place.   </p>
<p>Sign up today and start streaming</p>
